<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenDotaInterface.Properties.Settings.WinrateAnalyzerConnectionString"
            connectionString="Data Source=DESKTOP-53C27RG\SQLEXPRESS;Initial Catalog=WinrateAnalyzer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>